*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

h1,
h2,
h3{
    font-family: 'Roboto', sans-serif;
    /* color: #FBFAF7; */
}

img{
    max-width: 100%;
}
p,
a{
    /* color: #FBFAF7; */
    font-family: 'Noto Sans', sans-serif;
};


.container{
    position: relative;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    background-color: snow;
}
header{
    background-color: #163A24;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar{
    text-align: center;
}
.navbar a{
    color:  #FBFAF7;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
.nav_items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 20px 0;
    
}
.nav_item{
    list-style: none;
    margin: -15px 10px;
}

/* hero */
.hero{
    padding-top: 60px;
    background-color: #163A24;
}

.two-halves{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap:20px;
}
.hero_text{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 25px;
}
.hero_text h1{
    font-size: 40px;
}
.hero_text p{
    font-size: 1.2rem;
    margin-top: 2rem;
}
@media screen and (max-width:900px){
    .two-halves{
        grid-template-columns: 1fr;
    }
}

/* storyy */
.story{
    background-color: #163A24;
}

/* partners */
.partners{
    border: 2px solid blueviolet;
    margin-top: 2rem;
    padding: 3.75rem;
}
.partners h2{
    font-size: 48px;
    text-align: center;
    padding-bottom: 20px;
}
.logos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,0.5fr));
    gap:20px;
    justify-content: center;
    align-items: center;
}

/* offerings */
.offerings{
    border: 2px solid slategrey;
   
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}
.offering{
    border: 2px solid pink;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* costumes */
.costumes{
    background-color: palegoldenrod;
    margin-top: 2rem;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}